In [1]:
import pandas as pd
from sqlalchemy import create_engine

<h3>Store CSV into DataFrame</h3>

In [2]:
csv_file = "arrest_data.csv"
arrest_data_df = pd.read_csv(csv_file)
arrest_data_df.head()

,DATE,TEAM,NAME,POSITION,CASE,CATEGORY,DESCRIPTION,OUTCOME
0,3/27/2017,SEA,Trevone Boykin,QB,Arrested,Drugs,"Accused of marijuana possession, public intoxi...",Resolution undetermined.
1,3/26/2017,CHI,Deiondre Hall,CB,Arrested,Disorderly conduct,"Accused of disorderly conduct, public intoxica...",Resolution undetermined.
2,3/26/2017,GB,Makinton Dorleant,CB,Arrested,Police interference,Accused of interfence after scuffle outside of...,Resolution undetermined.
3,3/7/2017,KC,Demetrius Harris,TE,Arrested,Drugs,Suspected of felony marijuana possession as pa...,Resolution undetermined.
4,3/5/2017,LAR,Ethan Westbrooks,DT,Arrested,Domestic violence,Suspected of domestic violence in Sacramento a...,Resolution undetermined.

<h3>Create new data with select columns</h3>

In [3]:
# Create a filtered dataframe from specific columns
new_arrest_data_df = arrest_data_df[['NAME', 'DATE', 'CATEGORY', 'DESCRIPTION']].copy()

# Rename the column headers
new_arrest_data_df = new_arrest_data_df.rename(columns={"NAME": "player_name",
                                                          "DATE": "date_of_arrest",
                                                          "CATEGORY": "category",
                                                          "DESCRIPTION": "description"})

new_arrest_data_df.dropna(inplace=True)

# Set index
new_arrest_data_df.set_index("date_of_arrest", inplace=True)

new_arrest_data_df.head()

,player_name,category,description
date_of_arrest,,,
3/27/2017,Trevone Boykin,Drugs,"Accused of marijuana possession, public intoxi..."
3/26/2017,Deiondre Hall,Disorderly conduct,"Accused of disorderly conduct, public intoxica..."
3/26/2017,Makinton Dorleant,Police interference,Accused of interfence after scuffle outside of...
3/7/2017,Demetrius Harris,Drugs,Suspected of felony marijuana possession as pa...
3/5/2017,Ethan Westbrooks,Domestic violence,Suspected of domestic violence in Sacramento a...

<h3>Store JSON data into a DataFrame</h3>

In [4]:
json_file = "profiles.json"
player_profile_df = pd.read_json(json_file)
player_profile_df.head(20)

,birth_date,birth_place,college,current_salary,current_team,death_date,draft_position,draft_round,draft_team,draft_year,height,high_school,hof_induction_year,name,player_id,position,weight
0,1967-05-12,"Bay City, TX",Baylor,None,None,None,34.0,2.0,Seattle Seahawks,1990.0,6-0,"Van Vleck, TX",NaN,Robert Blackmon,1809,DB,208.0
1,1970-07-20,"Louisville, KY",Kentucky,None,None,None,85.0,4.0,Seattle Seahawks,1993.0,6-3,"Holy Cross, KY",NaN,Dean Wells,23586,LB,248.0
2,1990-08-14,"Newton, MA",Oregon,"1,075,000",Miami Dolphins,None,46.0,2.0,Buffalo Bills,2013.0,6-3,"Los Gatos, CA",NaN,Kiko Alonso,355,ILB,238.0
3,1948-04-22,"Dallas, TX",North Texas,None,None,1999-10-15,126.0,5.0,New Orleans Saints,1970.0,6-2,"W.W. Samuell, TX",NaN,Steve Ramsey,18182,QB,210.0
4,1988-02-27,"Neptune, NJ",Miami (FL),None,None,None,NaN,NaN,None,NaN,6-0,"Neptune, NJ",NaN,Cory Nelms,16250,CB,195.0
5,1982-08-18,"Columbus, GA",Notre Dame,None,None,None,144.0,5.0,St. Louis Rams,2005.0,6-4,"Wheaton-Warrenville South, IL",NaN,Jerome Collins,4310,TE,267.0
6,1992-10-27,"Cincinnati, OH",Louisville,"1,762,000",Buffalo Bills,None,73.0,3.0,Buffalo Bills,2014.0,6-1,"Northwest, OH",NaN,Preston Brown,2701,ILB,251.0
7,1945-03-17,"Steubenville, OH",Wyoming,None,None,None,NaN,NaN,None,NaN,5-11,"Steubenville, OH",NaN,Hub Lindsey,13379,RB,196.0
8,1978-11-11,"Suitland, MD",Maryland,None,None,None,49.0,2.0,New York Jets,2001.0,5-10,"Suitland, MD",NaN,LaMont Jordan,11755,RB,230.0
9,1921-10-06,"Brooklyn, NY",Dartmouth,None,None,None,178.0,18.0,Pittsburgh Steelers,1945.0,5-11,"Boys, NY",NaN,Alex Wizbicki,24550,DB-HB,188.0
10,1971-12-31,"East Meadowbrook, NY",Wesleyan,None,None,None,NaN,NaN,None,NaN,6-4,"Phillips Exeter Academy, NH",NaN,Jeff Wilner,24331,TE,245.0
11,1967-06-27,"Montville, NJ",Stanford,None,None,None,186.0,7.0,Green Bay Packers,1990.0,6-5,"Montville, NJ",NaN,Lester Archambeau,578,DE,275.0
12,1904-02-06,"Emmetsburg, IA",Drake,None,None,2000-03-05,NaN,NaN,None,NaN,5-9,"Emmetsburg, IA",NaN,Bob Mahan,13878,B-E,178.0
13,1993-06-14,"Cleveland, OH",Michigan,"774,294",Seattle Seahawks,None,63.0,2.0,Seattle Seahawks,2015.0,6-2,"Glenville, OH",NaN,Frank Clark,3966,DE,270.0
14,1968-01-04,"Pine Bluff, AR",La-Monroe,None,None,None,102.0,4.0,Green Bay Packers,1990.0,6-4,"Pine Bluff, AR",NaN,Jackie Harris,9175,TE,244.0
15,1993-09-15,"Hampton, GA",Troy,None,None,None,NaN,NaN,None,NaN,5-9,"Griffin, GA",NaN,Chandler Worthy,24698,WR,173.0
16,1945-11-08,"Holdenville, OK",none,None,None,2001-01-11,NaN,NaN,None,NaN,5-10,"Frederick Douglass, OK",NaN,Ken Brown,2657,RB,203.0
17,1909-10-19,"San Francisco, CA",Washington St.,None,None,1989-12-17,NaN,NaN,None,NaN,6-0,"Wilmerding, CA",NaN,George Hurley,10547,G,200.0
18,1992-03-24,"South Bend, IN",Southern Illinois,None,None,None,143.0,5.0,Minnesota Vikings,2015.0,6-2,"Kirkwood, MO",NaN,MyCole Pruitt,18011,TE,251.0
19,1899-10-05,"Chicago, IL",Wisconsin,None,None,1951-06-30,NaN,NaN,None,NaN,6-2,"Taylorville, IL",NaN,Don Murry,16101,T-E-G,191.0

<h3>Clean DataFrame</h3>

In [5]:
# Create a filtered dataframe from specific columns
new_player_profile_df = player_profile_df[["player_id","name", "current_team", "position"]].copy()

# Rename the column headers
new_player_profile_df = new_player_profile_df.rename(columns={"player_id": "id",
                                                              "name": "player_name",
                                                              "current_team": "team"})

new_player_profile_df.dropna(inplace=True)

# Set index
new_player_profile_df.set_index("id", inplace=True)
                                                          
new_player_profile_df.head()

             player_name              team position
id
355          Kiko Alonso    Miami Dolphins      ILB
2701       Preston Brown     Buffalo Bills      ILB
3966         Frank Clark  Seattle Seahawks       DE
19449  Emmanuel Sanders     Denver Broncos       WR
17858       Bilal Powell     New York Jets       RB

<h3>Connect to local database</h3>

In [6]:
rds_connection_string = "postgres:1234@localhost:5432/nfl_arrest_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

<h3>Check for tables</h3>

In [7]:
engine.table_names()

['arrest_table', 'player_profile', 'combine_table']

<h3>Use pandas to load csv converted DataFrame into database</h3>

In [8]:
new_arrest_data_df.to_sql(name='arrest_table', con=engine, if_exists='append', index=False)

<h3>Use pandas to load json converted DataFrame into database</h3>

In [9]:
new_player_profile_df.to_sql(name='player_profile', con=engine, if_exists='append', index=False)

<h3>Confirm data has been added by querying the arrest_table</h3>

In [10]:
pd.read_sql_query('select * from arrest_table', con=engine).head()

,player_name,category,description
0,Trevone Boykin,Drugs,"Accused of marijuana possession, public intoxi..."
1,Deiondre Hall,Disorderly conduct,"Accused of disorderly conduct, public intoxica..."
2,Makinton Dorleant,Police interference,Accused of interfence after scuffle outside of...
3,Demetrius Harris,Drugs,Suspected of felony marijuana possession as pa...
4,Ethan Westbrooks,Domestic violence,Suspected of domestic violence in Sacramento a...

<h3>Confirm data has been added by querying the player_profile</h3>

In [11]:
pd.read_sql_query('select * from player_profile', con=engine).head()

       player_name                team position
0  Robert Blackmon    Seattle Seahawks       DB
1       Dean Wells    Seattle Seahawks       LB
2      Kiko Alonso       Buffalo Bills      ILB
3     Steve Ramsey  New Orleans Saints       QB
4       Cory Nelms                None       CB

<h3>Joining both datasets into 1 dataset</h3>

In [12]:
combined_ds = new_arrest_data_df.merge(new_player_profile_df,left_on='player_name', right_on='player_name')

In [13]:
combined_ds.head()

,player_name,category,description,team,position
0,Demetrius Harris,Drugs,Suspected of felony marijuana possession as pa...,Kansas City Chiefs,TE
1,David Parry,"DUI, resisting arrest","Suspected of stealing golf cart, driving drunk...",New Orleans Saints,NT
2,Darrelle Revis,Assault,Accused of aggravated assault after altercatio...,Kansas City Chiefs,DB
3,Adam Jones,Assault,Accused of poking hotel security employee in t...,Cincinnati Bengals,DB
4,Adam Jones,Disorderly conduct,He was the passenger in a car pulled over for ...,Cincinnati Bengals,DB

<h3>Use pandas to load csv converted DataFrame into database</h3>

In [14]:
combined_ds.to_sql(name='combine_table', con=engine, if_exists='append', index=False)

<h3>Confirm data has been added by querying the player_profile</h3>

In [15]:
pd.read_sql_query('select * from combine_table', con=engine).head(30)

,player_name,category,description,team,position
0,Trevone Boykin,Drugs,"Accused of marijuana possession, public intoxi...",None,QB
1,Makinton Dorleant,Police interference,Accused of interfence after scuffle outside of...,None,CB
2,Demetrius Harris,Drugs,Suspected of felony marijuana possession as pa...,None,TE
3,David Parry,"DUI, resisting arrest","Suspected of stealing golf cart, driving drunk...",Indianapolis Colts,NT
4,Matt Elam,Drugs,"Pulled over in Miami Beach, accused of possess...",Baltimore Ravens,SS
5,Darrelle Revis,Assault,Accused of aggravated assault after altercatio...,New York Jets,DB
6,King Dunlap,Violating court order,Suspected of violating protective order in Nas...,Philadelphia Eagles,T
7,King Dunlap,Disorderly conduct,Accused of reckless driving and disorderly con...,Philadelphia Eagles,T
8,Sam Shields,Drugs,Accused of misdemeanor marijuana possession fr...,None,DB
9,Tre Mason,Eluding police,"Accused of fleeing law enforcement, careless d...",St. Louis Rams,RB
10,Tre Mason,Drugs,"Pulled over in Hollywood, Fla., accused of rec...",St. Louis Rams,RB
11,Adam Jones,Assault,Accused of poking hotel security employee in t...,Tennessee Titans,DB
12,Adam Jones,Disorderly conduct,He was the passenger in a car pulled over for ...,Tennessee Titans,DB
13,Adam Jones,Assault,Accused of punching a woman outside a Cincinna...,Tennessee Titans,DB
14,Adam Jones,Alcohol,Accused of disorderly conduct while intoxicate...,Tennessee Titans,DB
15,Adam Jones,"Coercion, gun","Surrended in Las Vegas, charged with felony co...",Tennessee Titans,DB
16,Adam Jones,Assault,Accused of spitting in a woman's face at Nashv...,Tennessee Titans,DB
17,Adam Jones,Public intoxication,"Accused of being drunk, shouting profanities a...",Tennessee Titans,DB
18,Adam Jones,Drugs,Accused of smoking marijuana after he emerged ...,Tennessee Titans,DB
19,Adam Jones,Drugs,Accused of throwing a punch at an officer and ...,Tennessee Titans,DB
20,Adam Jones,Assault,Accused of assault and vandalism after being a...,Tennessee Titans,DB
21,Damontre Moore,DUI,Suspected of driving while intoxicated in King...,New York Giants,DE
22,Troy Hill,DUI,Suspected of drunken driving after crashing in...,None,CB
23,Josh Huff,"DUI, drugs, gun","Pulled over and accused of drunken driving, ma...",Philadelphia Eagles,WR
24,Nigel Bradham,Gun,Accused of carrying loaded gun through airport...,Buffalo Bills,OLB
25,Nigel Bradham,Assault,Suspected of punching somebody in the nose at ...,Buffalo Bills,OLB
26,Nigel Bradham,Drugs,"Pulled over for window-tint violation, charged...",Buffalo Bills,OLB
27,Alvin Bailey,DUI,Accused of operating a vehicle under the influ...,None,OG
28,Austin Seferian-Jenkins,DUI,Pulled over for speeding and driving erratical...,Tampa Bay Buccaneers,TE
29,Bruce Miller,Assault,Accused of assaulting a man and his 70-year-ol...,San Francisco 49ers,FB